/* Import Tailwind base styles */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.company-logo-1 {
  background-image: url('./assets/companylogos/1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-2 {
  background-image: url('./assets/companylogos/2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-3 {
  background-image: url('./assets/companylogos/3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-4 {
  background-image: url('./assets/companylogos/4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-5 {
  background-image: url('./assets/companylogos/5.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-6 {
  background-image: url('./assets/companylogos/6.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-7 {
  background-image: url('./assets/companylogos/7.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-8 {
  background-image: url('./assets/companylogos/8.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-9 {
  background-image: url('./assets/companylogos/9.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-10 {
  background-image: url('./assets/companylogos/10.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-11 {
  background-image: url('./assets/companylogos/11.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-12 {
  background-image: url('./assets/companylogos/12.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-13 {
  background-image: url('./assets/companylogos/13.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-14 {
  background-image: url('./assets/companylogos/14.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-15 {
  background-image: url('./assets/companylogos/15.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.company-logo-17 {
  background-image: url('./assets/companylogos/17.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-company-logo {
  background-image: url('./assets/company-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 100px;
}
